version: "3.1"

services:
  db:
    image: postgres:15.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${BX_STORAGE_SETTINGS__PASSWORD}
      POSTGRES_DB: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  app:
    depends_on:
      db:
        condition: service_healthy
    build:
      args:
        - ENVIRONMENT=dev
      context: ./
      dockerfile: ./api/Dockerfile.dev
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./api/birdxplorer_api:/app/birdxplorer_api
      - ./common/birdxplorer_common:/app/common/birdxplorer_common

volumes:
  postgres_data:
