{
  "[*]": {
    "editor.tabSize": 4
  },
  "[typescriptreact]": {
    "editor.tabSize": 2
  },
  "[typescript]": {
    "editor.tabSize": 2
  },
  "[json]": {
    "editor.tabSize": 2
  },
  "editor.formatOnSave": true,
  "[python]": {
    "editor.codeActionsOnSave": {
      "source.organizeImports": "explicit"
    },
    "editor.defaultFormatter": "ms-python.black-formatter",
    "editor.formatOnSave": true
  },
  "python.analysis.extraPaths": [
    ".venv/lib/python3.10/site-packages"
  ],
  "python.defaultInterpreterPath": ".venv/bin/python",
  "python.analysis.stubPath": "common/stubs",
  "black-formatter.args": [
    "--config",
    "common/pyproject.toml"
  ],
  "flake8.path": [
    ".venv/bin/pflake8"
  ],
  "flake8.args": [
    "--config",
    "common/pyproject.toml"
  ],
  "isort.args": [
    "--settings-path",
    "common/pyproject.toml"
  ],
  "python.formatting.provider": "none"
}