name: Deploy API (dev)

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'api/**'
      - 'common/**'
      - '.github/workflows/deploy-api.yml'
  push:
    branches: [ main ]
    paths:
      - 'api/**'
      - 'common/**'
      - '.github/workflows/deploy-api.yml'

permissions:
  id-token: write
  contents: read
  actions: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ steps.tag.outputs.tag }}

    steps:
      - uses: actions/checkout@v5

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ap-northeast-1

      - uses: aws-actions/amazon-ecr-login@v2
        id: login-ecr

      - uses: docker/setup-buildx-action@v3

      - id: tag
        run: |
          sha=$(echo "${{ github.sha }}" | cut -c1-7)
          echo "tag=dev-sha$sha" >> $GITHUB_OUTPUT

      - uses: docker/build-push-action@v5
        with:
          context: ./api
          file: ./api/Dockerfile.prd
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/birdxplorer-api:${{ steps.tag.outputs.tag }}
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy-cdk:
    needs: build-and-push
    uses: ./.github/workflows/_deploy.yaml
    with:
      deploy-env: dev
      image-tag: ${{ needs.build-and-push.outputs.image-tag }}
      verify-images: "birdxplorer-api"
      stacks: "devbird-xplorerApiStack"
    secrets: inherit
